{% extends 'base.html' %}
{% block conteudo %}
    <section class="container" xmlns="http://www.w3.org/1999/html">
        <div class="row">
            <!-- left column -->
            <div class="col-sm-9 col-sm-offset-1">
                <!-- general form elements -->
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title" style="text-align: center;">Frequências</h3>
                    </div>
                    <table class="table table-bordered">
                        <tr>
                            <th>Nome: {{ aluno.nome }}</th>
                        </tr>
                        <tr>
                            <th>Data</th>
                            <th>Registros</th>
                            <th>Duração</th>
                            <th>Observações do sistema</th>
                            <th>Observações Pessoais</th>
                        </tr>
                        {% for frequencia in frequencias %}
                            <tr>
                                <td>{{ frequencia.data|date:"d/m/Y"}}({{ frequencia.diaSemana }})</td>
                                <td style="width: 27%">
                                    {% if frequencia.hora_entrada %}
                                        <b>E: </b>
                                        <span style="color:green">{{ frequencia.hora_entrada.isoformat }}</span>(
                                        {{ frequencia.local }})
                                    {% endif %}
                                    {% if frequencia.hora_saida %}
                                        <b>S: </b> <span style="color:red">{{ frequencia.hora_saida.isoformat }}</span>(
                                        {{ frequencia.local }})
                                    {% endif %}
                                </td>
                                <td>
                                    {{ frequencia.hora_inicial_final }}</td>
                                <td>
                                    {% if frequencia.tempo_maximo == 1 %}
                                        <div class="alert alert-danger">
                                            Tempo de trabalho superior a 10h!
                                        </div>
                                    {% endif %}
                                </td>
                                <td>
                                    <button class="btn btn-circle btn-success">Adicionar observação</button>
                                </td>
                            </tr>
                        {% endfor %}
                    </table>
                </div>
                <table class="table table-bordered">
                    <tr>
                        <th>Carga total da semana</th>
                        <th>Número de dias úteis sem registros</th>
                        <th>Número de dias úteis trabalhados</th>
                        <th>Periódo do relatório</th>
                    </tr>
                    <tr>
                        <td>{{ horas_total }}</td>
                        <td>{{ dias_nao_trabalhos }}</td>
                        <td>{{ dias_trabalhos }}</td>
                        <td>{{ data_inicial }} até {{ data_final }}</td>
                    </tr>
                </table>
            </div>
        </div>
    </section>
{% endblock %}
