{% extends 'base.html' %}
{% block conteudo %}

    <section class="container">
        <div class="row">
            <!-- left column -->
            <div class="col-sm-9 col-sm-offset-1">
                <!-- general form elements -->
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title" style="text-align: center;">Frequências</h3>
                    </div>
                    <table class="table table-bordered">

                        <tr>
                            <th>Nome: {{ funcionario.nome }}</th>
                        </tr>
                       <tr>
                           <th>Data</th>
                           <th>Registros</th>
                           <th>CH</th>
                           <th>Duração</th>
                           <th>Obserção do Sistema</th>
                        </tr>
                        {% for frequencia in frequencias %}
                           <tr>
                               <td>{{ frequencia.data|date:"d/m/Y"}}({{ frequencia.diaSemana }})</td>
                                  <td> <p><b>E: </b><span style="color:green">{{ frequencia.hora_entrada}}</span> ({{ frequencia.local }})</p>
                                   <p><b>S: </b> <span style="color:red">{{ frequencia.hora_saida}}</span> ({{ frequencia.local }})</p></td>
                               <td>8h</td>
                               <td></td>
                               <td></td>
                           </tr>
                        {% endfor %}
                    </table>
                </div>
            </div>
        </div>
        <!-- /.row -->
    </section>
{% endblock %}
