{% extends 'base.html' %}
{% block conteudo %}
    <center><h3>Registro de horários</h3></center>
    <hr>

    <table border="2" class="table table-hover ">
        <thead>
            <tr>
                <th>Entrada</th>
                <th>Saida</th>
                <th>Local</th>
                <th>Aluno</th>
            </tr>
        </thead>
        <tbody>
            {% for registroPonto in registroPontos %}
               <tr>
                   <td>
                    {{ registroPonto.entrada}}</td>
                   <td>{{ registroPonto.saida}}</td>
                   <td>{{ registroPonto.local}}</td>
                   <td>{{ registroPonto.aluno}}</td>
               </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}