{% extends 'base.html' %}
{% block conteudo %}
    <style>
        td,th{
            text-align: center;
        }
    </style>

    <section class="container">
        <div class="row">
            <!-- left column -->
            <div class="col-sm-6 col-sm-offset-2">
                <!-- general form elements -->
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title" style="text-align: center;">{{ porta }}</h3>
                    </div>
                    <table class="table table-bordered">
                        <tr>
                            <th>Grupos de Acesso</th>
                            <th colspan="2"><center>Operações</center></th>
                        </tr>
                        {% for grupo in grupos %}
                            <tr>
                                <td><a href="{% url 'usuario_grupo_list' grupo.pk %}"> {{ grupo.grupo }}</a></td>
                            <td><form action="{% url 'porta_detail' porta.pk %}">
                                    <input type="hidden" name="grupo" value="{{ grupo.pk }}">
                                    <button type="submit" class="btn btn-danger">
                                        <span class="glyphicon glyphicon-remove"></span>
                                    </button>
                                </form>
                            </td>
                            </tr>
                        {% endfor %}
                    </table>
                </div>
            </div>
        </div>
        <!-- /.row -->
    </section>
{% endblock %}
