{% extends 'base.html' %}
{% block conteudo %}

    <section class="container">
        <div class="row">
            <!-- left column -->
            <div class="col-sm-9 col-sm-offset-1">
                <!-- general form elements -->
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title" style="text-align: center;">Lista de Portas</h3>
                    </div>
                    <table class="table table-bordered">
                        <tr>
                            <th>Descrição</th>
                            <th colspan="2"><center>Operações</center></th>
                        </tr>
                        {% for porta in portas %}
                            <tr>
                                <td><a href="{% url 'porta_detail' porta.pk %}"> {{porta.descricao | upper }}</a></td>
                                <td>{{ funcionario.matricula }}</td>
                                <td><a href="{% url 'porta_update' porta.pk %}" class="glyphicon glyphicon-edit"></a></td>
                                <td><a href="{% url 'porta_delete' porta.pk %}" style="color:red" class="glyphicon glyphicon-remove"></a></td>
                            </tr>
                        {% endfor %}
                    </table>
                </div>
            </div>
        </div>
        <!-- /.row -->
    </section>
{% endblock %}
