{% extends 'base.html' %}
{% block conteudo %}
    <style>
        td,th{
            text-align: center;
        }
    </style>
    <section class="container">
        <div class="row">
            <!-- left column -->
            <fieldset>
             <div class="col-sm-6 col-sm-offset-3">
                 <form class="navbar-form navbar-left" role="search" method="get" action="">
                    <div class="form-group">
                      <label>Descrição:</label>
                        <input type="text" id="criterio" name="criterio" value="{{ criterio }}" class="form-control" placeholder="Descrição">
                    </div>
                    <button type="submit" class="btn btn-default">Buscar</button>
                 </form>
             </div>
            </fieldset>
            <div class="col-sm-6 col-sm-offset-2">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h5 class="panel-title" style="text-align: center;">Portas não inseridas no
                            grupo {{ grupo }}</h5>
                    </div>
                    <table class="table table-bordered">
                        <tr>
                            <th>Descrição</th>
                            <th>Adicionar</th>
                        </tr>
                        {% for porta in porta_nao_grupo %}
                            <tr>
                                <td>{{ porta }}</td>
                                <td style="width:10px;">
                                    <form action="{% url 'porta_nao_grupo' grupo.pk %}">
                                        <input type="hidden" name="porta" value="{{ porta.pk }}">
                                        <button type="submit" class="btn btn-facebook btn-sm">
                                            <span class="glyphicon glyphicon-plus"></span>
                                        </button>
                                    </form>
                                </td>
                            </tr>
                        {% endfor %}
                    </table>
                </div>
                        {% include 'utils/paginacao.html' %}
            </div>
        </div>
        <!-- /.row -->
    </section>
{% endblock %}
