{% extends 'base.html' %}
{% block conteudo %}
    <section class="container" xmlns="http://www.w3.org/1999/html">
        <div class="row">
            <div class="col-sm-9 col-sm-offset-1">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title" style="text-align: center;">Registros de acessos</h3>
                    </div>
                    <div class="table-responsive">
                        <table class="table table-bordered">
                            <tr>
                                <th>Nome: {{ pessoa }}</th>
                            </tr>
                            <tr>
                                <th>Data</th>
                                <th>Hora de Acesso de entrada</th>
                                <th>Local</th>
                            </tr>
                            {% for frequencia in frequencias %}
                                <tr>
                                    <td>{{ frequencia.data|date:"d/m/Y"}}({{ frequencia.diaSemana }})</td>
                                    <td style="width: 27%">
                                        <span style="color:green"><b>{{ frequencia.hora_acesso.isoformat }}</b></span>
                                    </td>
                                    <td>{{ frequencia.porta }}</td>
                                </tr>
                            {% endfor %}
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
