{% extends 'base.html' %}
{% block conteudo %}
    <style>
        td,th{
            text-align: center;
        }
    </style>
    <section class="container">
        <div class="row">
            <!-- left column -->
            {% if usuarios_acesso %}
            <fieldset>
             <div class="col-sm-6 col-sm-offset-3">
                 <form class="navbar-form navbar-left" role="search" method="get" action="">
                    <div class="form-group">
                      <label>Descrição:</label>
                        <input type="text" id="criterio" name="criterio" value="{{ criterio }}" class="form-control" placeholder="Descrição">
                    </div>
                    <button type="submit" class="btn btn-default">Buscar</button>
                 </form>
             </div>
            </fieldset>
            <div class="col-sm-6 col-sm-offset-2">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h5 class="panel-title" style="text-align: center;">Usuários do grupo {{ grupo }}</h5>
                    </div>

                    <table class="table table-bordered">
                        <tr>
                            <th>Nome</th>
                            <th>Matrícula</th>
                            <th>Profissão</th>
                            <th>Remover</th>
                        </tr>
                        {% for usuario in usuarios_acesso %}
                            <tr>
                                <td>{{ usuario }}</td>
                                <td>{{ usuario.username }}</td>
                                <td>
                                    {% if usuario.funcionario %}
                                        {{ usuario.funcionario.cargo }}
                                    {% else %}
                                        Aluno
                                    {% endif %}
                                </td>
                                <td style="width:10px;">
                                    <form action="{% url 'grupo_detail' grupo.pk %}">
                                        <input type="hidden" name="usuario" value="{{ usuario.pk }}">
                                        <button type="submit" class="btn btn-danger btn-sm">
                                            <span class="glyphicon glyphicon-remove"></span>
                                        </button>
                                    </form>
                                </td>
                            </tr>
                        {% endfor %}
                    </table>
                </div>
                {% include 'utils/paginacao.html' %}
            </div>
            {% else %}
                <div class="col-sm-6 col-sm-offset-2">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h5 class="panel-title" style="text-align: center;">O grupo {{ grupo }} não possui usuários
                                no momento</h5>
                        </div>
                    </div>
                </div>
            {% endif %}
        </div>
        <!-- /.row -->
    </section>
{% endblock %}
