{% extends 'base.html' %}
{% block conteudo %}

    <section class="container">
        <div class="row">
            <!-- left column -->
            <div class="col-sm-6 col-sm-offset-2">
                <!-- general form elements -->
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title" style="text-align: center;">Grupo</h3>
                    </div>
                    <table class="table table-bordered">
                        <tr>
                            <th>Nome</th>
                            <th colspan="2"><center>Operações</center></th>
                        </tr>
                        {% for grupo in grupos %}
                            <tr>
                                <td><a href="{% url 'grupo_detail' grupo.pk %}"> {{grupo | upper }}</a></td>
                                <td><a href="{% url 'grupo_update' grupo.pk %}" class="glyphicon glyphicon-edit"></a></td>
                                <td><a href="{% url 'grupo_delete' grupo.pk %}" style="color:red" class="glyphicon glyphicon-remove"></a></td>
                            </tr>
                        {% endfor %}
                    </table>
                </div>
            </div>
        </div>
        <!-- /.row -->
    </section>
{% endblock %}
