{% extends 'base.html' %}
{% block conteudo %}

    <section class="container">
        <div class="row">
        <fieldset>
             <div class="col-sm-6 col-sm-offset-3">
                 <form class="navbar-form navbar-left" role="search" method="get" action="">
                    <div class="form-group">
                      <label>Descrição:</label>
                        <input type="text" id="criterio" name="criterio" value="{{ criterio }}" class="form-control" placeholder="Descrição">
                    </div>
                    <button type="submit" class="btn btn-default">Buscar</button>
                 </form>
             </div>
            </fieldset>
            <!-- left column -->
            <div class="col-sm-6 col-sm-offset-2">
                <!-- general form elements -->
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title" style="text-align: center;">Adicionar Administrador</h3>
                    </div>
                    <table class="table table-bordered">
                        <tr>
                            <th><center>Nome</center></th>
                            <th><center>Matrícula</center></th>
                            <th>
                                <center>Ação</center>
                            </th>
                            <th><center>Adicionar</center></th>
                        </tr>
                        {% for funcionario in funcionarios %}
                            <tr>
                                <td style="text-align: center">{{ funcionario.nome }}</td>
                                <td style="text-align: center">{{ funcionario.matricula }}</td>
                                <td style="width: 10px">
                                    <a href="{% url 'funcionario_detail' funcionario.pk %}"
                                       class="btn btn-success btn-sm">
                                        <span class="glyphicon glyphicon-eye-open"></span> Detalhes
                                    </a>
                                </td>
                                <td style="text-align: center">
                                    <form action="{% url 'administrador_add' funcionario.pk %}">
                                        <button type="submit" class="btn btn-facebook btn-sm">
                                            <span class="glyphicon glyphicon-plus"></span>
                                        </button>
                                    </form>
                            </tr>
                        {% endfor %}
                    {{ car }}
                    </table>
                </div>
                {% include 'utils/paginacao.html' %}
            </div>
        </div>
        <!-- /.row -->
    </section>
{% endblock %}
