{% extends 'base.html' %}
{% block conteudo %}

    <section class="container">
        <div class="row">
            <!-- left column -->
            <div class="col-sm-9 col-sm-offset-1">
                <!-- general form elements -->
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title" style="text-align: center;">Lista de Administradores</h3>
                    </div>
                    <table class="table table-bordered">
                        <tr>
                            <th>Nome</th>
                            <th>Matrícula</th>
                            <th colspan="2"><center>Operações</center></th>
                        </tr>
                        {% for administrador in administradores %}
                            <tr>
                                <td><a href="{% url 'administrador_detail' administrador.pk %}"> {{administrador.nome | upper }}</a></td>
                                <td>{{ administrador.matricula }}</td>
                                <td><a href="{% url 'administrador_update' administrador.pk %}" class="glyphicon glyphicon-edit"></a></td>
                                <td><a href="{% url 'administrador_delete' administrador.pk %}" style="color:red" class="glyphicon glyphicon-remove"></a></td>
                            </tr>
                        {% endfor %}
                    </table>
                </div>
            </div>
        </div>
        <!-- /.row -->
    </section>
{% endblock %}
