{% extends 'base.html' %}
{% block conteudo %}
    <center><h3>Administradores</h3> </center>
    <hr>
    <p><a href="{% url 'funcionario_new' %}" class="btn btn-primary">
        Novo Administrador</a></p>
    <form class="navbar-form navbar-left" role="search"method="get"action="{% url 'funcionario_list' %}">
        <div class="form-group">
            <label for="criterio">Descrição</label>
            <input type="text" id="criterio"name="criterio" value="{{ criterio }}" class="form-control"placeholder="Descrição">
        </div>
        <button type="submit" class="btn btn-default">Buscar</button>
    </form>
    <table border="2" class="table table-hover ">
        <thead>
            <tr>
                <th>Nome</th>
                <th>Matrícula</th>
                <th colspan="2">Operações</th>
            </tr>
        </thead>
        <tbody>
            {% for administrador in administradores %}
               <tr>
                   <td><a href="{% url 'administrador_detail' administrador.pk %}">

                    {{ administrador.nome | upper}}</a></td>
                <td>{{ administrador.matricula}}</td>

                <td><a href="{% url 'administrador_update' administrador.pk %}" class="btn btn-primary">Atualizar</a></td>
                <td><a href="{% url 'administrador_delete' administrador.pk %}" class="btn btn-danger">Excluir</a></td>

               </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}