{% extends 'base.html' %}
{% block conteudo %}

    <section class="container">
        <div class="row">
            <!-- left column -->
            <div class="col-sm-9 col-sm-offset-1">
                <!-- general form elements -->
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title" style="text-align: center;">Adicionar Administrador</h3>
                    </div>
                    <table class="table table-bordered">
                        <tr>
                            <th>Nome</th>
                            <th>Matrícula</th>
                            <th><center>Adicionar</center></th>
                        </tr>
                        {% for funcionario in funcionarios %}
                            <tr>
                                <td><a href="{% url 'funcionario_detail' funcionario.pk %}"> {{funcionario.nome | upper }}</a></td>
                                <td>{{ funcionario.matricula }}</td>
                                <td><a href="{% url 'administrador_add' funcionario.pk %}" style="color:green" class="glyphicon glyphicon-plus"></a></td>
                            </tr>
                        {% endfor %}
                    {{ car }}
                    </table>

                </div>
            </div>
        </div>
        <!-- /.row -->
    </section>
{% endblock %}
