{% extends 'base.html' %}
{% load widget_tweaks %}

<%{% block conteudo %}
    <center><h2 style="margin: 30px">{% if administrador %}
        Editar Administrador {% else %}
        Adcionar Administrador
    {% endif %}</h2></center>

        <form method="Post" ROLE="form" class="form-group">
            {% csrf_token %}
        {% for field in form %}
            <p><h4><span class="label label-default"for="{{ field.name}}">
            {{ field.name.upper }}
        </span> </h4></p>
            {{ field | add_class:'form-control' }}

         {% endfor %}
        <br/>
        <input type="submit" class="btn btn-success" value="Salvar">
        </form>
    </h1>
{% endblock %}