{% extends 'base.html' %}
{% block conteudo %}
    <center><h3>Administradores</h3></center>
    <hr>
    <div class="col-md-9">
    <p><a href="{% url 'administrador_new' %}" class="btn btn-primary">
        Novo Administrador</a></p>
    <form class="navbar-form navbar-left" role="search"method="get"action="{% url 'administrador_list' %}">
        <div class="form-group">
            <label for="criterio">Descrição</label>
            <input type="text" id="criterio"name="criterio" value="{{ criterio }}" class="form-control"placeholder="Descrição">
        </div>
        <button type="submit" class="btn btn-default">
            <span class="glyphicon glyphicon-search" aria-hidden="true"/>
        </button>
    </form>
    </div>
    </br>
    <div class="row">
        <div class="col-md-9">
            <div>
                <div class="box-header with-border">
                    <h3 class="box-title">Lista de Administradores</h3>
                </div>
                <div class="table-responsive">
                    <table class="table table-bordered">
                        <tr>
                            <th>Nome</th>
                            <th>Matrícula</th>
                            <th colspan="3">Operações</th>
                        </tr>
                        {% for administrador in administradores %}
                           <tr>
                               <td><a href="{% url 'administrador_detail' administrador.pk %}">

                                {{ administrador.nome | upper}}</a></td>
                            <td>{{ administrador.matricula}}</td>

                            <td><a href="{% url 'administrador_update' administrador.pk %}" class="glyphicon glyphicon-edit"></a></td>
                            <td><a href="{% url 'administrador_delete' administrador.pk %}" class="glyphicon glyphicon-remove"></a></td>

                           </tr>
                        {% endfor %}

                </table>
              </div>
            </div>
        </div>
    </div>
{% endblock %}