{% extends 'base.html' %}
{% block conteudo %}

    <section class="container">
        <div class="row">
            <!-- left column -->
            <div class="col-sm-4 col-sm-offset-2">
                <!-- general form elements -->
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title" style="text-align: center;">Departamento de {{ departamento }}</h3>
                    </div>
                    <table class="table table-bordered">
                        <tr>
                            <th>Cargos</th>
                        </tr>
                        {% for cargo in cargos %}
                            <tr>
                                <td>{{ cargo }}</td>
                            </tr>
                        {% endfor %}
                    </table>
                </div>
            </div>
        </div>
        <!-- /.row -->
    </section>
{% endblock %}
