{% extends 'base.html' %}
{% block conteudo %}
    <center><h3>Funcionários</h3></center>
    <hr>

    <form class="navbar-form navbar-left" role="search"method="get"action="{% url 'funcionario_list' %}">
        <div class="form-group">
            <label for="criterio">Descrição</label>
            <input type="text" id="criterio"name="criterio" value="{{ criterio }}" class="form-control"placeholder="Descrição">
        </div>
        <button type="submit" class="btn btn-default">Buscar</button>
    </form>
    </br>
    </br>
    </br>
    <table border="2" class="table table-hover ">
        <thead>
            <tr>
                <th>Nome</th>
                <th>Matrícula</th>
                <th>Operações</th>
            </tr>
        </thead>
        <tbody>
            {% for funcionario in funcionarios %}
               <tr>
                   <td>

                    {{ funcionario.nome | upper}}</td>
                <td>{{ funcionario.matricula}}</td>

                <td><a href="{% url 'funcionario_relatorio' funcionario.pk %}" class="btn btn-success">Gerar Relatorio</a></td>

               </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}