{% extends 'base.html' %}
{% load static %}
{% load widget_tweaks %}
<%{% block conteudo %}

    <section class="container">
        <div class="row">
            <!-- left column -->
            <div class="col-sm-9 col-sm-offset-1">
                <!-- general form elements -->
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title" style="text-align: center;">
                            {% if horario %}
                                Editar Horário {% else %}
                                Adicionar Horário
                            {% endif %}
                        </h3>
                    </div>
                    <div class="panel-body">
                        <form method="Post" ROLE="form" class="form-horizontal" enctype="multipart/form-data">
                            {% csrf_token %}
                            <div class="form-group">
                                <label class="col-sm-4 control-label" for="{{ form.cargahoraria.name }}">
                                    {{ form.cargahoraria.label_tag }}
                                </label>
                                <div class="col-md-6">
                                    {{ form.cargahoraria | add_class:'form-control'}}<br/>
                                </div>
                                <label class="col-sm-4 control-label" for="{{ form.pessoa.name }}">
                                    {{ form.pessoa.label_tag }}
                                </label>
                                <div class="col-md-6">
                                    {{ form.pessoa | add_class:'form-control'}}<br/>
                                </div>
                                <label class="col-sm-4 control-label">{{ form.dias.label_tag }}
                                </label>
                                <div class="col-md-4">
                                    {% for dias in form.dias %}
                                        <div style="text-align: left">{{ dias }}</div>
                                    {% endfor %}
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-sm-6 col-sm-offset-3">
                                    <input type="submit" class="btn btn-success" value="Salvar">
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div><!-- /.row -->
    </section>
{% endblock %}